<p>Color is a qualitative subjective characteristic of <br>
    electromagnetic radiation in the optical range, determined on the basis of an emerging physiological <br>
    visual sensation and depending on a number of physical, physiological and psychological factors. <br>
    Color perception (color perception) is determined by a person's personality, as well as spectral composition, <br>
    color and brightness contrast with surrounding light sources, as well as non-luminous objects.!<br>
    Color tone is a characteristic of a color responsible for its position in the spectrum: any chromatic color can be attributed to any <br>
    specific position in the color spectrum. Shades that have the same position in the spectrum (but differ, for example, in saturation and brightness) <br>
    belong to the same tone. When the tone changes, for example, blue in the green side of the spectrum, it is replaced by blue, in the opposite direction — purple. <br>
    In addition to spectral colors, there are also colors that are average between red and purple - purple shades. <br>
 	 	 	 
    Sometimes a change in the color tone is correlated with the "warmth" of the color. So, red, orange and yellow shades, <br>
    as corresponding to fire and causing corresponding psychophysiological reactions, are called warm tones, blue, blue and purple, <br>
    as the color of water and ice — cold. It should be noted that the perception of the "warmth" of color depends on both subjective mental <br>
    and physiological factors (individual preferences, the state of the observer, adaptation, etc.) and objective ones (the presence of a color background, etc.). <br>
    The warmest color is red, the coldest is blue.
    It is necessary to distinguish the physical characteristic of some light sources — the color temperature from the subjective feeling of "warmth" of the corresponding color. <br>
    The color of thermal radiation passes through "warm shades" from red through yellow to white when the temperature rises, but the color cyanide has the maximum color temperature.<br>
    
    Another characteristic associated with color tone is the "activity" and "passivity" of color. The most active color is called red, the most passive, calm is green.</p>